<div class="row">
  <i class="fa fa-search" aria-hidden="true" style="padding-left: 20px;"></i>
    <input type="text" 
           placeholder="Search...."
           [(ngModel)]="searchString" 
           (ngModelChange)="filterTable($event)"
           style="margin-bottom:10px;">
</div>

<table style="width:100%">
    <thead>
<tr>
    <th *ngFor="let headerItem of headerItmes">  
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{headerItem}}  
    <i class="fa fa-sort"></i></button>
  <ul class="dropdown-menu" style="color:black;">
     <li *ngFor="let option of sortOptions" (click)="sortTable(headerItem, option.value)">{{option?.text}}</li>
  </ul>
</div>

    </th>
</tr>
    </thead>
 
 <tbody>  
  <tr *ngFor="let item of visibleItems">    
    <td><personalInfo-modal [user]="item"></personalInfo-modal>{{item?.name}}</td> 
    <td>{{item?.email}}</td>
    <td>{{item?.phone}}</td>
    <td>{{item?.username}}</td>
  </tr>
 </tbody>
</table>