
<div class="navbar navbar-inverse navbar-fixed-left" style="top: 0px;">
  <a class="navbar-brand" routerLink="">ANGULAR</a>
  <ul class="nav navbar-nav" style="padding-top: 50px;">
    <li><a routerLink="/client"><i class="fa fa-users" aria-hidden="true"></i>Clients</a></li>
   <li><a routerLink="/dummy"><i class="fa fa-gamepad" aria-hidden="true"></i>Dummy</a></li>
  </ul>
</div>

<div class="container" style="margin-left: 60px;">
   <div class="col-md-12">
<h1>Angular Test Project</h1>

    <router-outlet></router-outlet>

</div>
</div>