<i class="fa fa-info-circle" 
   aria-hidden="true" 
   style="cursor:pointer;" 
   (click)="showModal()"></i>


<div id="myModal" class="modal" [style.display]="displayValue">
  <div class="modal-content" style="width: 400px; margin-top: 100px;">
    <span class="close" (click)="closeModal()">&times;</span>
        <h4 style="text-align:center;"><i class="fa fa-user-circle" aria-hidden="true"></i>{{user?.name}}</h4>
        <hr style="margin:0px 0px 10px 0px !important;">
        <p><i class="fa fa-briefcase" aria-hidden="true"></i>Company Details:</p>
          <ul id="modal_ul">
              <li><span id="label">Name:</span>{{user?.company?.name  || "N/A"}}</li>
              <li><span id="label">Sector:</span>{{user?.company?.bs  || "N/A"}}</li>
          </ul>

         <p><i class="fa fa-home" aria-hidden="true"></i>Address Details:</p>
          <ul id="modal_ul">
              <li><span id="label">Street:</span>{{user?.address?.street  || "N/A"}}</li>
              <li><span id="label">Suite:</span>{{user?.address?.suite  || "N/A"}}</li>
              <li><span id="label">City:</span>{{user?.address?.city  || "N/A"}}</li>
              <li><span id="label">Zip Code:</span>{{user?.address?.zipcode  || "N/A"}}</li>
         </ul><hr/>
         <div class="row" style="text-align: right; padding-right: 15px;">
         <button type="button" class="btn btn-success" (click)="closeModal()">OK</button></div>        
      </div>
  </div>

