table tr:nth-child(odd) td{
    background:#F5F5F5;
}
table tr:nth-child(even) td{
    background:#fff;
}

thead{
    background-color:#0077b5; color:white;
}

table th{
    padding:5px 0px 5px 0px;
}
table th:nth-child(1){
    padding-left: 25px;
    border-radius: 10px 0px 0px 0px;
}
table th:nth-last-child(1){
    border-radius: 0px 10px 0px 0px;
}

tbody td{
padding:5px 0px 5px 0px;
}

ul>li{
    padding-left: 20px;
}
ul>li:hover{
    background-color: #F5F5F5;
}

#headerLabel{
    margin-bottom:0px; 
    display:inline-block; 
    cursor:pointer;
}
