p{
    color:#0077b5;
    font-weight: bold;
    margin-bottom: 0px;
}

i{
    padding-right: 10px;
}

#label{
    color:#0077b5;
    padding-right: 10px;
}

#modal_ul li {   
      list-style-type: none; 
      padding: 0px;
}